<h2 style="padding-top:70px;">Reports</h2>

<ul class = "list-group">

	<div class="row" >
		  <div class="col-xs-12 col-md-12" >
		  
		  <div class="panel panel-default" >
			  <!-- Table -->
			  <table class="table">
				<tr>
					
					<td style = "width:20%;">
						<b style = "text-align: center;">Report Image</b>
					</td>
					
					<td style = "width:20%;">					
						<b style = "text-align: center;">Date</b>
					</td>
					
					<td style = "width:20%;">					
						<b style = "text-align: center;">Total Income</b>
					</td>
					
				
				
					<td style = "width:20%;">					
						<b style = "text-align: center;">Fee</b>
					</td>
				
				

					<td style = "width:20%;text-align:center;">
						<b style = "text-align: center;">Action</b>
					</td>					
					
					
				</tr>
			  </table>
			  
			  
			  
			  <table class="table">
				<tr>
					
					<td style = "width:20%;">
						<!--	<img style="width:100px;height:60px;" class="thumbnail" src="{{order.items[0].image}}">-->
						<img style="width:160px;height:80px;" class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/forumapp-39f68.appspot.com/o/84584187-0a09-437f-a600-70ef86afc97a.jpg?alt=media&token=9bdf6c75-6739-4173-b44a-16e3c9749595">
						
						
					</td>
					
					<td style = "width:20%;">
						<h3>{{thisYear}}/{{thisMonth}}/{{thisDay}}</h3>
					</td>
					
					
					
					
					
					<td style = "width:20%;">
						
						
						<h3 *ngIf="todayTotal">
						   {{todayTotal}}$
						</h3>
						
						<h3 *ngIf="!todayTotal">
						   0 $
						</h3>
						
					</td>
					
					<td style = "width:20%;">					
						<h3 *ngIf="todayFee">
						   {{todayFee}}$
						</h3>
						
						<h3 *ngIf="!todayFee">
						   0 $
						</h3>
					</td>
					
				
			

					<td style = "width:20%;text-align:center;">
					<!--
						<a class = "btn btn-default" [routerLink] = "['/order-details/'+order.$key]">View</a>
						-->
						
						<a class = "btn btn-warning" style = "width:100%;" [routerLink] = "['/today-report/']" ><h5>Today's Orders</h5></a>
					</td>	
					

					
					
				</tr>
			  </table>
			  
			  
			   <table class="table">
				<tr>
					
					<td style = "width:20%;">
						
						<img style="width:160px;height:80px;" class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/forumapp-39f68.appspot.com/o/84584187-0a09-437f-a600-70ef86afc97a.jpg?alt=media&token=9bdf6c75-6739-4173-b44a-16e3c9749595">
						
						
					</td>
					
					<td style = "width:20%;">
						<h3 >{{thisYear}}/{{thisMonth}}</h3>
					</td>
					
					
					<td style = "width:20%;">
						
						
						<h3 *ngIf="monthTotal">
						   {{monthTotal}}$
						</h3>
						
						<h3 *ngIf="!monthTotal">
						   0 $
						</h3>
						
					</td>
					
					<td style = "width:20%;">					
						<h3 *ngIf="monthFee">
						   {{monthFee}}$
						</h3>
						
						<h3 *ngIf="!monthFee">
						   0 $
						</h3>
					</td>
					
					
				
			

					<td style = "width:20%;text-align:center;">
					<!--
						<a class = "btn btn-default" [routerLink] = "['/order-details/'+order.$key]">View</a>
						-->
						
						<a class = "btn btn-warning" style = "width:100%;" [routerLink] = "['/month-report/']"><h5>Current Month Orders</h5></a>
					</td>	
					

					
					
				</tr>
			  </table>
			  
			  
			  <table class="table">
				<tr>
					
					<td style = "width:20%;">
						
						<img style="width:160px;height:80px;" class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/forumapp-39f68.appspot.com/o/84584187-0a09-437f-a600-70ef86afc97a.jpg?alt=media&token=9bdf6c75-6739-4173-b44a-16e3c9749595">
						
						
					</td>
					
					<td style = "width:20%;">
						<h3 >{{thisYear}}</h3>
						
						
						
					</td>
					
					
					<td style = "width:20%;">
						
						
						<h3 *ngIf="yearTotal">
						   {{yearTotal}}$
						</h3>
						
						<h3 *ngIf="!yearTotal">
						   0 $
						</h3>
						
					</td>
					
					
					<td style = "width:20%;">					
						<h3 *ngIf="yearFee">
						   {{yearFee}}$
						</h3>
						
						<h3 *ngIf="!yearFee">
						   0 $
						</h3>
					</td>
					
				
			

					<td style = "width:20%;text-align:center;">
					<!--
						<a class = "btn btn-default" [routerLink] = "['/order-details/'+order.$key]">View</a>
						-->
						
						<a class = "btn btn-warning" style = "width:100%;" [routerLink] = "['/year-report/']"><h5>Current Year Orders</h5></a>
					</td>	
					

					
					
				</tr>
			  </table>
			  
			  
		</div>
				
				
				
				
				
				
				
			
				
				
		  </div>
	</div>
	
	

</ul>



