
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
  <a class="navbar-brand" routerLink="/">Each Vendor Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    
    <ul class="navbar-nav ml-auto">

	   <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/restaurants">My Shops</a>
      </li>
	  
	   <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/add-new-restaurant">Add Shop</a>
      </li>
	  
	  <!-- <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/add-category">Add Category</a>
      </li>
     -->
     
	   <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/items">Items</a>
      </li>
	  
	   <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/add-item">Add Item</a>
      </li>
	  
	 
	 <!--
	  
	  <li class="dropdown" *ngIf="isLogged">
              <a class="nav-link" data-toggle="dropdown" href="#" id="themes">Manage Address<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
				<li ><a routerLink="/city-configuration" style ="padding-left:20px;">Cities</a></li>
				<li ><a routerLink="/add-new-city" style ="padding-left:20px;">Add New City</a></li>
				<li ><a routerLink="/add-district" style ="padding-left:20px;">Districts</a></li>
				<li ><a routerLink="/add-new-district" style ="padding-left:20px;">Add New District</a></li>
				<li ><a routerLink="/add" style ="padding-left:20px;">Streets</a></li>
				<li ><a routerLink="/add-new-street" style ="padding-left:20px;">Add New Street</a></li>
				<li ><a routerLink="/add-building" style ="padding-left:20px;">Buildings</a></li>
				<li ><a routerLink="/add-new-building" style ="padding-left:20px;">Add New Building</a></li>
				
              </ul>
            </li>
			
			-->
			
			<!--
			
			<li class="dropdown" *ngIf="isLogged">
              <a class="nav-link" data-toggle="dropdown" href="#" id="themes">Settings<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
				<li>  <a routerLink="/add-paypal" style ="padding-left:5px;">Paypal Configuration</a> </li>
				<li>				
				<a routerLink="/add-stripe" style ="padding-left:5px;">Stripe Configuration</a>
				</li>
              </ul>
            </li>
			
			-->
			
			
			
			
	  <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/orders">Orders</a>
      </li>

      <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/orders">Orders</a>
      </li>
      
	  <li class="nav-item" *ngIf="isLogged">
        <a class="nav-link" routerLink="/report">Reports</a>
      </li>
			
			
	  
      <li class="nav-item" *ngIf="!isLogged">
        <a class="nav-link" routerLink="/user/login">Login
        </a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a href="#" class="nav-link" (click)="onLogout()">Logout
        </a>
      </li>
    </ul>
  </div>
</nav>