<section class="row mt-5">
  <div class="col">

			<a [routerLink]="['/items']">Back</a>
			<br />
			<h2 class="page-header">Edit District</h2>
			<form (submit)="onDistrictEditSubmit()">
			  <div class="form-group">
				<label>District Name</label>
				<input class="form-control" type="text" [(ngModel)]="districtName" name="districtName" required> 
				</div>	
			  <input type="submit" value="submit" class="btn btn-success">
			</form>
			
			
	</div>
	
</section>
