<section class="row mt-5">
	<div class="col">

		<a [routerLink]="['/items']">Back</a>
		<br />
		<h2 class="page-header">Add New Item</h2>

		<form (submit)="onItemAddSubmit()">
			<div class="form-group">
				<label>Name</label>
				<input class="form-control" type="text" [(ngModel)]="name" name="name" required>
			</div>
			
			
			<div class="form-group">
			
				<label>Sort</label>
				<input class="form-control" type="number" name="sort" [(ngModel)]="sort" required>
			
			</div>

			<div class="row">
				<div class="col">
					<div class="form-group">

						<label>Categories</label>

						<select class="form-control" type="text" [(ngModel)]="categories" name="categories" (change)="setParentCategory(categories)" required>

							<option *ngFor="let category of categoryList" [value]="category.$key">{{category.cat_name}}
							</option>

						</select>

					</div>
				</div>

				<div class="col">
					<div class="form-group">

						<label>Sub Category</label>
						<select class="form-control" type="text" [(ngModel)]="sub_category" name="sub_category"
							id="sub_category">
							<option *ngFor="let category of sub_categoryList" [value]="category.$key">
								{{category.cat_name}}
							</option>
						</select>

					</div>
				</div>

			</div>

			<div class="form-group">
				<label>Description</label>
				<input class="form-control" type="text" [(ngModel)]="description" name="description" required>
			</div>
			
			<div class="form-group">
				<label>Availability</label>
				<select class="form-control" [(ngModel)]="available" name="available" required>
					<option value="Available">Available</option>
					<option value="Not Available">Not Available</option>
				</select>
			</div>
			
			<div class="form-group">
				<label>Featured</label>
				<input class="form-control" type="text" [(ngModel)]="feature" name="feature" required>
			</div>
			
			<div class="form-group">
				<label>New Arrival</label>
				<input class="form-control" type="text" [(ngModel)]="new_arrival" name="new_arrival" required>
			</div>
			
			<div class="form-group">
				<label>Featured Image</label>
				<input class=" form-control-file" id="image" name="image" [(ngModel)]="image" type="file">
			</div>
			
			<div class="form-row">
			
				<div class="col">
					<div class="form-group">
						<label>Price</label>
						<input class="form-control" type="text" [(ngModel)]="price" name="price" required>
					</div>
				</div>
			
				<div class="col">
					<div class="form-group">
						<label>Sale Price</label>
						<input class="form-control" type="text" [(ngModel)]="saleprice" name="saleprice" required>
					</div>
				</div>
			
				<div class="col">
					<div class="form-group">
						<label>Percent</label>
						<input class="form-control" type="text" [(ngModel)]="percent" name="percent" required>
					</div>
				</div>
			
			</div>
			
			<div class="form-row">
			
				<div class="col">
					<div class="form-group">
						<label>Stock</label>
						<input class="form-control" type="text" [(ngModel)]="stock" name="stock" required>
					</div>
				</div>
			
				<div class="col">
					<label>Status</label>
					<select class="form-control" type="text" name="status" [(ngModel)]="status">
						<option value="active">Active</option>
						<option value="inactive">InActive</option>
					</select>
				</div>
			</div>


			<input type="submit" value="submit" class="btn btn-success">
		</form>

	</div>

</section>