<section class="row mt-5">
  <div class="col">


					
					<div *ngIf = "districts">

						<a [routerLink] = "['/orders']">Go back </a>
						<br>
						
						<h2 class ="page header">Districts </h2>

						<div class = "row">
							<div class = "col-md-4">

							
							</div>
							
							
							 <table class="table">
									<tr>
										
							
										
										<td style = "width:20%;">
											<b style = "text-align: center;">District Image</b>
										</td>
										
									
										
										<td style = "width:20%;">					
											<b style = "text-align: center;">District ID</b>
										</td>
										
									
										<td style = "width:20%;">
											<b style = "text-align: center;">District Name</b>
										</td>
						
										
										
											<td style = "width:30%;">
											<b style = "text-align: center;">Action</b>
										</td>




										
									</tr>
									
								
									
								  </table>
							
							<div *ngFor="let item of districts"  style="width:100%;">
							
							<div style = "background-color:#00bfff;color:white;width:100%;">
							 
							 </div>
							
							 <table class="table">
							 
							 
							 
									<tr>
										
										<td style = "width:20%;">
											<img style="width:100px;height:60px;" class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/multi4ionic.appspot.com/o/categoryimages%2F1448959365-red_light-21_copy.jpg?alt=media&token=a5136b24-cd93-4d10-826a-26f295e9ece2">
										</td>
										
										<td style = "width:20%;">
											<p style = "text-align: left;">{{item.$key}}</p>
										</td>
										
									
										
										<td style = "width:20%;">					
											<p style = "text-align: left;">{{item.name}}</p>
										</td>
										

										
										<td style = "width:30%;">
												<!---					
											<a [routerLink]="['/edit-extra-food/' + item.$key]" class = "btn btn-warning" >Edit</a>
											---->
							
							<!--
											<a (click)="onExtraItemEdit(item.$key)" class = "btn btn-warning" >Edit</a>
											
											<a (click)="onExtraItemDelete(item.$key)" class = "btn btn-danger" >Delete</a>
											-->
									<button class="btn btn-danger">
										<a [routerLink]="['/add-new-district']" style = "text-align: center;color:white;">Add District</a>
									</button>				

									
									<button class="btn btn-warning" >
									<a [routerLink]="['/edit-district/'+item.$key]" style = "text-align: center;color:white;">Edit District</a>
									
									
									</button>
										
									<button (click)="deleteDistrict(item.$key)" class="btn btn-success" >
									<a  style = "text-align: center;color:white;">Delete</a>
									</button>
											
											
											
										</td>
										
									
						



										
									</tr>
									
								
									
								  </table>
								</div>  
								  

						</div>


					</div>


			
			
	</div>
	
</section>




