<div style="padding-top:30px;">
<a [routerLink]="['/category']">Back</a>
<br />
<h2 class="page-header">Edit Category</h2>

</div>
<form (submit)="onCategoryEditSubmit()">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" [(ngModel)]="cat_id" name="cat_id" required>
  </div>
  <div class="form-group">
    <label>City</label>
    <input class="form-control" type="text" [(ngModel)]="cat_name" name="cat_name" required>
  </div>
  
  
 <div class="form-group" *ngIf="!this.inputImageUser.nativeElement.value">
				  
					<img style="width:25%;height:150px;" class="thumbnail" src="{{firebase_url}}">
				  
					
				  </div>
				  
				  <div class="form-group" *ngIf="this.inputImageUser.nativeElement.value">
				  
					<img style="width:25%;height:150px;" class="thumbnail" src="{{this.inputImageUser.nativeElement.value}}">
				  
					
				  </div>
  
    <hr>
                <div class="form-group">
                  <h5>Select image:</h5>
                  <input type="file" accept=".png, .jpg" (change)="onUpload($event)">
                </div>
                <div class="progress">
                  <div [style.visibility]="(uploadPercent == 0) ? 'hidden' : 'visible'" class="progress-bar progress-bar-striped bg-success"
                    role="progressbar" [style.width]="(uploadPercent | async) +'%'">

                  </div>
                </div>
                <br>
                <input #imageUser type="hidden" [value]="urlImage | async">

				  
	
  
  
  <input type="submit" value="submit" class="btn btn-success">
</form>