<section class="row mt-5">
	<div class="col">
		<ul class="list-group">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<div class="panel panel-default">
						<!-- Table -->
						<table class="table">
							<thead>

								<tr>
									<th scope="col">#</th>
									<th scope="col">
										Customer Name
									</th>

									<th scope="col">
										Email Address
									</th>

									<th scope="col">
										Total
									</th>

									<th scope="col">
										Payment Method
									</th>

									<th scope="col">
										Address
									</th>

									<th scope="col">
										Status
									</th>

									<th scope="col">
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let order of orderList; index as i">
									<th scope="row">{{i+1}}</th>

									<th>
										{{ order.name }}
									</th>

									<th>
										{{ order.email }}
									</th>

									<th>
										{{ order.total }}$
									</th>

									<th>
										{{ order.paymentMethod }}
									</th>

									<th>
										{{ order.address }}
									</th>

									<th>
										{{ order.status }}
									</th>
									<th>
										<a class="btn btn-primary"
											[routerLink]="['/order-details/' + order.$key]">View</a>
									</th>
								</tr>


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</ul>
	</div>
</section>

