<section class="row mt-5">
	<div class="col">

		<div *ngIf="order_details">

			<a [routerLink]="['/orders']">Go back </a>
			<br>
			<div class="row">
				<div class="col-md-12">
					<h2 class="page header"> Order Details  <small>{{order_details.createdAt | date}}</small> </h2>
					<ul class="list-group">
						<li class="list-group-item">Customer Name: {{order_details.name}}</li>
						<li class="list-group-item">Status: {{order_details.status}}</li>
						<li class="list-group-item">Address: {{order_details.address}}</li>
						<li class="list-group-item">Contact Number: {{order_details.contactNumber}}</li>
						<li class="list-group-item">Payment Method: {{order_details.paymentMethod}}</li>
						<li class="list-group-item">City: {{getCityName(order_details.city)}}</li>
						<li class="list-group-item">District: {{ getDistrictName(order_details.district)}}</li>
						<li class="list-group-item">Shipping: {{order_details.shipping}}</li>
						<li class="list-group-item">Email: {{order_details.email}}</li>
					</ul>

				</div>
			</div>

			<h2>Items Detail</h2>
			<div class="row">
				<div class="col-md-3" *ngFor="let item of itemList">
				<div class="card">
					<img class="card-img-top" style="height: 150px;" src="{{item.image_firebase_url}}">
					<div class="card-body">
					  <h5 class="card-title">{{item.name}}</h5>
					  <ul class="list-group">
						<li class="list-group-item">Available: {{item.available}}</li>
						<li class="list-group-item">Price: {{item.price}}</li>
						<li class="list-group-item">Status: {{item.status}}</li>
						<li class="list-group-item">Category: {{getCategoryName(item.categories)}}</li>
						<li class="list-group-item">SubCategory: {{getCategoryName(item.sub_category)}}</li>
					</ul>
					</div>
				  </div>
				</div>
			</div>



		</div>

	</div>

</section>