<section class="row mt-5">
  <div class="col">
			<div *ngIf = "restaurant">

	<a [routerLink] = "['/restaurants']">Go back </a>
	<br>
	<h2 class ="page header">{{restaurant.title}} <small>{{ restaurant.info }}</small></h2>
	<div class = "row">
		<div class = "col-md-4">
			<img style="width:100%" class="thumbnail" src="{{restaurant.firebase_url}}">

		</div>

		<div class = "col-md-8">
			<ul class ="list-group">
				<li class = "list-group-item">Description: {{restaurant.description}}</li>
				<li class = "list-group-item">Image: {{restaurant.image}}</li>
				<li class = "list-group-item">Address: {{restaurant.address}}</li>
				<li class = "list-group-item">Option: {{restaurant.option}}</li>
				<li class = "list-group-item">Phonenumber: {{restaurant.phonenumber}}</li>


			</ul>

		</div>

		<!--
		<a class = "btn btn-default" [routerLink] = "['/edit-restaurant/'+restaurant.$key]">Edit</a>
		-->
		<button class="btn btn-primary" routerLink="/edit-restaurant/{{restaurant.$key}}">Edit</button>
		
		
		
		<a (click)="onRestaurantDelete(id)" class = "btn btn-danger" >Delete</a>
	</div>

	<h3>Restaurant Categories</h3>
					<ul class = "list-group">



							<div class="row" >
									  <div class="col-xs-12 col-md-3" *ngFor="let category of categories">

											<a [routerLink]="['/choose-category-details/'+category.$key]" style = "text-align: center;"><h4>{{category.cat_name}}</h4></a>

											<img style="width:100%;height:150px;" class="thumbnail" src="{{category.firebase_url}}">

									  </div>

								</div>

				</ul>

</div>
    
  </div>
</section>




