<section class="row mt-5">
  <div class="col">

			<a [routerLink]="['/items']">Back</a>
			<br />
			<h2 class="page-header">Edit City</h2>
			<form (submit)="onCityEditSubmit()">
			  <div class="form-group">
				<label>City Name</label>
				<input class="form-control" type="text" [(ngModel)]="cityName" name="cityName" required> 
				</div>	
			  <input type="submit" value="submit" class="btn btn-success">
			</form>
			
			
	</div>
</section>
