<section class="row mt-5">
  <div class="col">

<div *ngIf = "order_details">

	<a [routerLink] = "['/orders']">Go back </a>
	<br>
	
	<h2 class ="page header">ORDER DETAILS <small>{{order_details.timeStamp | date}}</small></h2>
	
	<!---
	<h2 class ="page header"><small><b>{{order_details.user_name}}</b></small>    <small>  {{order_details.restaurant_name}}</small></h2>
	--->
	<div class = "row">
		<div class = "col-md-4">
		<!--
			<img style="width:100%;height:300px;" class="thumbnail" src="{{order_details.product_firebase}}">
			-->
		
		</div>
		
		
		 <table class="table">
				<tr>
					
		
					
					<td style = "width:20%;">
						<b style = "text-align: center;">Product Image</b>
					</td>
					
				
					
					<td style = "width:20%;">					
						<b style = "text-align: center;">Product Name</b>
					</td>
					
				
					<td style = "width:20%;">
						<b style = "text-align: center;">Price</b>
					</td>
	
	
				<td style = "width:20%;">
						<b style = "text-align: center;">Quantity</b>
					</td>
					
					<td style = "width:20%;">
						<b style = "text-align: center;">Sub-Total</b>
					</td>



					
				</tr>
				
			
				
			  </table>
			  
			  
		
		<div *ngFor="let item of order_details.items" style ="width: 100%;">
				
				<div style = "background-color:#00bfff;color:white;width:100%;">
				 
				 <h2><b>{{item.restaurantName}}</b></h2>
				 </div>
		
		 <table class="table">
		 
		 
		 
				<tr>
					
					<td style = "width:20%;">
						<img style="width:100px;height:60px;" class="thumbnail" src="{{item.image}}">
					</td>
					
					<td style = "width:20%;">
						<p style = "text-align: left;">{{item.name}}</p>
					</td>
					
				
					
					<td style = "width:20%;">					
						<p style = "text-align: left;">{{item.price}}$</p>
					</td>
					
				
					<td style = "width:20%;">
						<p style = "text-align: left;">{{item.quantity}}</p>
					</td>
	
	
				<td style = "width:20%;">
						<p style = "text-align: left;">{{1*item.price*item.quantity}}$</p>
					</td>


					
				</tr>
			
			
				
			  </table>
			  
			  
										<div *ngFor="let extra of item.extra" >
										
										
												<table class="table" *ngIf = "extra.quantity != 0">
													<tr>
														
											
														
														<td style = "width:20%;">
															<b style = "text-align: center;"></b>
														</td>
														
													
														
														<td style = "width:20%;">					
															<b style = "text-align: center;">Extra Name</b>
														</td>
														
													
														<td style = "width:20%;">
															<b style = "text-align: center;">Extra Price</b>
														</td>
										
										
													<td style = "width:20%;">
															<b style = "text-align: center;">Quantity</b>
														</td>
														
														<td style = "width:20%;">
															<b style = "text-align: center;">Sub-Total</b>
														</td>



														
													</tr>
													
												
													
												  </table>
										
										
										
										
													<table class="table" *ngIf = "extra.quantity != 0">
													 
													 
													 
															<tr>
																
																<td style = "width:20%;">
																	
																	
																</td>
																
																<td style = "width:20%;">
																
																
																	<h4 style = "text-align: left;">
																	
																	
																	<strong>{{extra.name}}</strong></h4>
																	
																	<img style="width:100px;height:60px;" class="thumbnail" src="https://firebasestorage.googleapis.com/v0/b/onesignalexample-f359b.appspot.com/o/extra.png?alt=media&token=d20d367f-7c61-477e-a55a-d2b39e93ec02">
																	
																	
																</td>
																
															
																
																<td style = "width:20%;">					
																	<p style = "text-align: left;">{{extra.value}}$</p>
																</td>
																
															
																<td style = "width:20%;">
																	<p style = "text-align: left;">{{extra.quantity}}</p>
																</td>
												
												
															<td style = "width:20%;">
																	<p style = "text-align: left;">{{1*extra.value*extra.quantity}}$</p>
																</td>


																
															</tr>
														
														
															
														  </table>
										</div>
			</div>  
			
			
			
			  
			  
			 <h2 class ="page header">CUSTOMER DETAILS</h2>
			 
			 <table class="table">
				<tr>
					
		
					
					<td style = "width:20%;">
						<b style = "text-align: center;">Customer name</b>
					</td>
					
				
					
					<td style = "width:20%;">					
						<b style = "text-align: center;">Email</b>
					</td>
					
				
					<td style = "width:20%;">
						<b style = "text-align: center;">Address</b>
					</td>
	
	
				<td style = "width:20%;">
						<b style = "text-align: center;">Phone number</b>
					</td>
					
					<td style = "width:20%;">
						<b style = "text-align: center;">Order Date</b>
					</td>



					
				</tr>
				
			
				
			  </table>
			 
			  
			  <table class="table">
				<tr>
					
		
					
					<td style = "width:20%;">
						<p style = "text-align: left;">{{order_details.customerDetails.displayName}}</p>
					</td>
					
				
					
					<td style = "width:20%;">					
						<p style = "text-align: left;">{{order_details.customerDetails.email}}</p>
					</td>
					
				
					<td style = "width:20%;">
						<p style = "text-align: left;">{{order_details.customerDetails.address}}</p>
					</td>
	
	
				<td style = "width:20%;">
						<p style = "text-align: left;">{{order_details.customerDetails.phone}}</p>
					</td>
					
					<td style = "width:20%;">
						<p style = "text-align: left;">{{order_details.timeStamp | date}}</p>
					</td>



					
				</tr>
				
			
				
			  </table>
			  
			  
			  
			
			  
			  
			<table style = "text-align:right;float:right;width:100%;">  
			  	<tr >
		
					<td style = "width:60%;">
																	
																	
																</td>
					
					<td style = "width:40%;">
					
					<h2 style = "text-align: right;">Payment Type : <b>{{order_details.payments.PaymentType}}</b></h2>
						
					</td>
					
				</tr>
				
				<tr>
				
				<td style = "width:60%;">
																	
																	
																</td>
					
					<td style = "width:40%;">
					
					
						<h2 style = "text-align: right;">Total : <b>{{order_details.total}}$</b></h2>
					</td>
					

				
				
			</table>
		
		
		
		
		
	</div>


</div>

</div>

</section>


